.headcontainer{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    background-color: #333;
    margin-left: 210px;
    /* justify-content: space-between; */
}

.headWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signInbtn{
  background-color: transparent;
  border-radius: 24px 4px;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px 10px;
  margin: 0px 10px;
  color: #fff;
  width: fit-content;
  cursor: pointer;
  border: 1px solid #fff;
  height: 20px;
  margin-top: 13px;
  margin-left: 100px;
}
.title{
    margin-left: 40px;
}

.title>h2{
    color: #ffffff;
}

.title>p{
    color: #ffffff;
}

.profile{
    position: absolute;
    right: 20px;
    margin-top: 15px;
}

.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}

@media only screen and (max-width:768px) {
    .headcontainer{
        width: 100%;
        margin-left: 70px;
    }
    .profile{
        right: 5px;
    }
}